BOT_TOKEN=          #Bot Token From Discord
GUILD_ID=           #The ID of the server the bot will live in
CHANNEL_ID=         #The Discord Channel in the server the bot will talk in, this is optional, leave blank to allow for any channel
ROLE_ID=            #the role id that has access to the bot, this is optional, leave blank to allow for any role
OPENAI_API_KEY=     #your OpenAI API key